@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
* {
  margin: 10px;
}
body {
    margin: 20px;
    font-family: "DM Sans", sans-serif;
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

p {
    font-size: 18px;
    color: #5a5a5a;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #f6c112;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e5ae00;
}

table {
    width: 70%;
    margin: 20px auto;
    border-collapse: collapse;
    font-family: "DM Sans", sans-serif;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #ecc31f;
    font-weight: bold;
}

tbody tr:nth-child(odd) {
    background-color: #cdcdcd;
}

/* Hacer que el texto en la última columna sea responsive */
td span.range {
    display: inline-block; /* Asegura que sea tratada como una unidad de bloque */
    text-align: center;
    word-break: break-word; /* Permite partir palabras o guiones */
    white-space: pre-wrap; /* Asegura que respete los saltos y espacios */
}

td span.range span {
    display: block; /* Cada valor queda en su propia línea */
}
/* Mantén el resto de tu CSS existente y añade esto */
td.bpm {
    text-align: center; /* Centra el texto */
}

td.bpm span {
    display: block; /* Cada parte del valor se muestra en su propia línea */
    line-height: 1.2; /* Espaciado entre líneas */
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    table {
        width: 90%;
    }
    input, button {
        width: 90%;
        font-size: 14px;
    }
    h1 {
        font-size: 20px;
    }
}

/* Animación de desvanecimiento */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
